# IDE
.idea

# Internals
linux/*
initramfs/*
linux/
initramfs/
initramfs.cpio
initramfs.cpio.gz
bzImage
bash-build/*
bash/
coreutils-build/*
coreutils/
glibc-build/*
glibc/
ncurses-6.5.tar.gz
ncurses-6.5/*
ncurses-build/*
root/*
util-build/*
util-linux/
elfutils-build/
elfutils/
iproute2/
libcap/
openssl-build/
openssl/
pcre2-build/
pcre2/
wget-*/
wget-build/
wget-*.tar.gz
zlib-*/
zlib-build/
zlib.tar.gz
zstd/


# Uncompressed disk image
disk.img
