# IDE
.idea

# Internals
linux/*
initramfs/*
linux/
initramfs/
initramfs.cpio
initramfs.cpio.gz
bzImage
bash-build/*
bash/
coreutils-build/*
coreutils/
glibc-build/*
glibc/
ncurses-6.5.tar.gz
ncurses-6.5/*
ncurses-build/*
root/*
util-build/*
util-linux/

# Uncompressed disk image
disk.img
